article {

    display: inline-block;

    margin-right: 1rem;
}

td {

    width: 1.5rem;
    height: 1.5rem;

    font-size: 1.5rem;
    padding: 1rem;

    border: .5px solid #ccc;

    cursor: pointer;

}